In [4]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\marcus\documents\_working\dateng1\venv\lib\site-packages (from ipython-sql) (0.2.0)
Collecting sqlalchemy>=0.6.7
  Downloading SQLAlchemy-1.4.17-cp38-cp38-win_amd64.whl (1.5 MB)
Requirement already satisfied: ipython>=1.0 in c:\users\marcus\documents\_working\dateng1\venv\lib\site-packages (from ipython-sql) (7.24.1)
Collecting sqlparse
  Downloading sqlparse-0.4.1-py3-none-any.whl (42 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: six in c:\users\marcus\documents\_working\dateng1\venv\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\marcus\documents\_working\dateng1\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\marcus\documents\_working\dateng1\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (57.0.0)
Requirement already satisfied: decorator in c:\users\marcus\documents\_working\dateng1\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.9)
Requirement already satisfied: pickleshare in c:\users\marcus\documents\_working\dateng1\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in c:\users\marcus\documents\_working\dateng1\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: jedi>=0.16 in c:\users\marcus\documents\_working\dateng1\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: colorama in c:\users\marcus\documents\_working\dateng1\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pygments in c:\users\marcus\documents\_working\dateng1\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (2.9.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\marcus\documents\_working\dateng1\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.18)
Requirement already satisfied: backcall in c:\users\marcus\documents\_working\dateng1\venv\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\marcus\documents\_working\dateng1\venv\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\marcus\documents\_working\dateng1\venv\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.0-cp38-cp38-win_amd64.whl (96 kB)
Using legacy 'setup.py install' for prettytable, since package 'wheel' is not installed.
Installing collected packages: greenlet, sqlparse, sqlalchemy, prettytable, ipython-sql
    Running setup.py install for prettytable: started
    Running setup.py install for prettytable: finished with status 'done'
Successfully installed greenlet-1.1.0 ipython-sql-0.4.0 prettytable-0.7.2 sqlalchemy-1.4.17 sqlparse-0.4.1

In [5]:
%load_ext sql

In [6]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

In [7]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [8]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [9]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [10]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [11]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).